.sendBar {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 70px;
  background-color: #f2f2f2;
}

.sendBar input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  height: 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.sendBar button {
  padding: 10px 20px;
  background-color: #2980b9;
  color: #ffffff;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.sendBar button:hover {
  background-color: #1e72b5;
}